.login-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../../assets/img/login-bg.png) bottom center no-repeat;
	background-size: cover;
}

.login-page .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	color:#666;
}
.login-page .title .bold {
	color:#000;
}

.login-page .sub-title {
	font-size: 14px;
	color: #555;
	text-align: center;
	letter-spacing: 2px;
}

.login-page .login-form {
	width: 380px;
	margin-top: 100px;
	background-color: #8a98df50;
	padding: 40px;
	border-radius: 5px;
}
.login-page .login-form .login-button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
}

.login-page .login-form .login-button-container .login-button {
	width: 150px;
	height: 40px;
	border-radius: 5px;
	border-style: unset;
	background-color: #2F528F;
	color: white;
	cursor: pointer;
}

.login-page .login-form .login-button-container .login-button:hover {
	opacity: 0.7;
}


/* CSS for small screen mobile phones */

@media only screen and (max-width: 450px) {
	.login-page .login-form {
		width: 280px;
		padding: 25px;
		margin-top: 50px;
	}
	.login-page .login-form .login-button-container .login-button {
		width: 115px;
	}
}
.login-page .login-form .common-input, .common-input-error {	
	width: 100%;
	height: 40px;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}
.login-page .login-form .common-input{
	border: 1px solid #2F528F;
}
.login-page .login-form .common-input-error {
	border: 1px solid #FF0000;
}
.login-page .login-form .help-block {
	color: #FF0000;
	font-family: 'Ubuntu';
	padding-bottom: 10px;
}
