.page-container .page-content .title-with-lines {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-container .page-content .title-with-lines .line {
	height: 1px;
	background-color: #ececec;
	flex: 1;
}

.page-container .page-content .title-with-lines .title {
	margin-left: 10px;
	margin-right: 10px;
}

.page-container .page-content .people-table {
	width: 100%;
	border: 1px solid #ececec;
	border-collapse: collapse;
	margin-bottom: 10px;
}

.page-container .page-content .people-table th,
.page-container .page-content .people-table td {
	height: 40px;
	padding: 10px;
}

.page-container .page-content .people-table .name-surname-column {
	text-align: left;
}

.page-container .page-content .people-table .task-count-column {
	text-align: center;
}

.page-container .page-content .people-table .delete-column {
	text-align: center;
	color: #F44336;
	cursor: pointer;
}

.page-container .page-content .people-table .delete-column:hover {
	opacity: 0.6;
}

.page-container .page-content .people-table .odd {
	background-color: #ececec;
}

.page-container .page-content .add-new-button-container {
	display: flex;
	justify-content: flex-end;
}

.page-container .page-content .add-new-button-container .add-new-button {
	width: 120px;
	height: 30px;
	border-radius: 5px;
	border-style: unset;
	background-color: #2F528F;
	color: white;
	cursor: pointer;
}

.page-container .page-content .add-new-button-container .add-new-button:hover {
	opacity: 0.7;
}

.page-container .page-content .job-list {
	width: 100%;
}

.page-container .page-content .job-list .job-container {
	display: flex;
	margin-bottom: 10px;
}

.page-container .page-content .job-list .job-container .job-item {
	background-color: #ececec;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 10px;
	flex: 1;
	cursor: pointer;
}

.page-container .page-content .job-list .job-container .job-item:hover {
	opacity: 0.6;
}

.page-container .page-content .job-list .job-container .assignee {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	width: 140px;
}

.page-container .page-content .job-list .job-container .assignee.not-available {
	color: #9E9E9E;
	font-style: italic;
}

.page-container .page-content .job-list .job-container .delete-button {
	color: #F44336;
	cursor: pointer;
	padding: 10px;
}

.page-container .page-content .job-list .job-container .delete-button:hover {
	opacity: 0.6;
}


/* CSS for small screen mobile phones */

@media only screen and (max-width: 450px) {
	.page-container .page-content .job-list .job-container .assignee {
		width: 100px;
	}
}
